<p-toast></p-toast>
<h2>Catálogo de Productos</h2>

<div class="productos-grid">
  <p-card
    *ngFor="let producto of productosPaginados"
    [header]="producto.titulo"
    [subheader]="'$' + producto.precio"
    styleClass="producto-card"
  >
    <img
      *ngIf="producto.imagen"
      [src]="getRutaImagen(producto.imagen)"
      alt="{{ producto.titulo }}"
      class="producto-imagen"
    />
    <p>{{ producto.descripcion }}</p>

    <button
      pButton
      type="button"
      label="Agregar al carrito"
      icon="pi pi-shopping-cart"
      (click)="agregarAlCarrito(producto)"
    ></button>
  </p-card>
</div>

<p-paginator
  [rows]="4"
  [totalRecords]="productos.length"
  (onPageChange)="cambiarPagina($event)">
</p-paginator>


