<!-- Mostrar contenido cuando carga termina -->
<div *ngIf="!loading">
  <!-- Formulario si NO hay usuario -->
  <div *ngIf="!user()" class="auth-container">
    <form class="auth-form fade-in" (ngSubmit)="onSubmit()">
      <img src="images/game-store.png" alt="Logo de New Clothes" class="auth-logo" />
      <h2>{{ isLogin ? 'Iniciar sesión' : 'Registrarse' }}</h2>

      <!-- Email -->
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Correo electrónico"
        required
      />

      <!-- Contraseña -->
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Contraseña"
        required
      />

      <!-- Selector de rol -->
      <div class="mb-3">
        <label for="rol">Selecciona tu rol:</label>
        <select id="rol" [(ngModel)]="selectedRol" name="rol" required>
          <option value="">-- Selecciona un rol --</option>
          <option *ngFor="let rol of userRoles" [value]="rol">{{ rol }}</option>
        </select>
      </div>

      <br /><br />

      <!-- Botones -->
      <button type="submit">
        {{ isLogin ? 'Iniciar sesión' : 'Registrarse' }}
      </button>

      <button type="button" class="toggle" (click)="toggleMode()">
        {{ isLogin ? '¿No tienes cuenta? Regístrate' : '¿Ya tienes cuenta? Inicia sesión' }}
      </button>
    </form>
  </div>
</div>





