<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Panel de Administración - Game Store</title>
  <link rel="stylesheet" href="inicio.component.scss">
</head>
<body>
  <div class="container">

    <!-- Mensaje de bienvenida -->
    <div class="welcome-box">
      <h1>👋 Bienvenido a Game Store</h1>
      <img src="images/game-store.png" alt="Logo de New Clothes" class="auth-logo" />
      <p>Gestiona usuarios, productos, proyectos y más desde este panel de control.</p>
    </div>

    <!-- Accesos rápidos -->
    <div class="dashboard">
      
      <div class="card">
        <h2> Gestion de Usuarios</h2>
        <p>Aqui podras administar a los usuarios registrados.</p>
        <a href="paginas/admin-usuarios" class="btn">Ir a gestion</a>
      </div>

      <div class="card">
        <h2>📦 Productos</h2>
        <p>Ver, agregar y editar productos disponibles.</p>
        <a href="paginas/productos" class="btn">Ir a productos</a>
      </div>

      <div class="card">
        <h2>📊 Proyectos</h2>
        <p>Revisa los proyectos a disposición.</p>
        <a href="paginas/proyectos" class="btn">Ver proyectos</a>
      </div>

      <div class="card">
        <h2>🔧 Asignaciones</h2>
        <p>Gestiona la asignación de proyectos.</p>
        <a href="paginas/asignacion" class="btn">Asignar</a>
      </div>
    </div>

  </div>
</body>
</html>


