.total {
  text-align: right;
  margin-top: 1rem;
}

.producto {
  margin-bottom: 1rem;

}

.producto-img {
  display: block;       /* Para poder centrar con margin auto */
  margin: 0 auto 1rem;  /* Centra horizontal y separa abajo */
  width: 75%;          /* Ocupa todo el ancho del contenedor */
  max-width: 200px;     /* Máximo ancho para que no sea gigante */
  height: auto;         /* Altura automática para mantener proporción */
  max-height: 200px;    /* Limita la altura */
  object-fit: cover;  /* Muestra toda la imagen sin recortes */
  border-radius: 12px;
}

.total {
  margin-top: 2rem;
  text-align: right;
}

.acciones {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.carrito-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
}

.carrito-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


@media (max-width: 600px) {
  .producto-img {
    max-width: 150px;
    max-height: 150px;
  }
}
