<p-toast></p-toast>

<h2>Carrito de Compras</h2>

<div *ngIf="productos.length === 0">
  <p>Tu carrito está vacío.</p>
</div>

<div class="carrito-grid" *ngIf="productos.length > 0">
  <div *ngFor="let producto of productos" class="producto">
    <p-card
      [header]="producto.titulo"
      [subheader]="'Cantidad: ' + (producto.cantidad || 1)"
      class="carrito-card"
    >
      <img
        *ngIf="producto.imagen"
        [src]="getRutaImagen(producto.imagen)"
        alt="Imagen"
        class="producto-img"
      />
      <p *ngIf="producto.descripcion">{{ producto.descripcion }}</p>
      <p><strong>Precio: </strong>${{ producto.precio }}</p>
      <button
        pButton
        type="button"
        icon="pi pi-trash"
        label="Eliminar"
        (click)="eliminar(producto.id)"
        class="p-button-danger"
      ></button>
    </p-card>
  </div>
</div>

<div *ngIf="productos.length > 0" class="total" style="margin-top: 1rem;">
  <h3>Total a pagar: ${{ total | number: '1.2-2' }}</h3>
</div>

<div class="acciones" style="margin-top: 1rem;">
    <button pButton label="Realizar compra" icon="pi pi-check" class="p-button-success" (click)="comprar()"></button>
    <button pButton label="Vaciar carrito" icon="pi pi-trash" class="p-button-warning" (click)="vaciarCarrito()"></button>
</div><br>




